/* Style the meme-card to have a solid border with color blue. Also, make a set width for each meme-card.*/
.meme-card {
    border-color: blue;
    border-style: solid;
    margin: 10px;
    width: 100%;
}

/* Style the images in the meme-card to have teh same width as its parent div. */
.meme-card > img {
    width: 100%;
}

.liked {
    font-weight: bold;
    color: blue;
}