/* Style the contents div to ensure that every element will align in the center. */
#content {
    text-align: center;
}

/* Style the meme image to ensure that it would only take up about half of the screen (vh unit recommended). */
.memeImg {
    height: 50vh;
    width: auto;
}


/* Style the textboxes to have the direction of the textboxes be vertical. */
.textboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
}

/* Style the submit meme button to have a margin-top value of 10px. */
.button {
    margin-top: 10px;
}